<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Reskrimsus.BusinessEntity.Properties.Settings.VTS_DevelopmentConnectionString"
            connectionString="Data Source=192.168.100.1\development;Initial Catalog=VTS_Development;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Reskrimsus.BusinessEntity.Properties.Settings.SMSPortalConnectionString"
            connectionString="Data Source=27.111.36.6\production;Initial Catalog=SMSPortal;Persist Security Info=True;User ID=smsportal"
            providerName="System.Data.SqlClient" />
        <add name="Reskrimsus.BusinessEntity.Properties.Settings.VTS_DevelopmentConnectionString1"
            connectionString="Data Source=192.168.100.1\development;Initial Catalog=VTS_Development;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Reskrimsus.BusinessEntity.Properties.Settings.VTS_DevelopmentConnectionString2"
            connectionString="Data Source=192.168.100.1\development;Initial Catalog=VTS_Development;Persist Security Info=True;User ID=sa;Password=web@ccess.1"
            providerName="System.Data.SqlClient" />
        <add name="Reskrimsus.BusinessEntity.Properties.Settings.VTS_DevelopmentConnectionString3"
            connectionString="Data Source=192.168.100.1\development;Initial Catalog=VTS_Development;Persist Security Info=True;User ID=JP"
            providerName="System.Data.SqlClient" />
        <add name="Reskrimsus.BusinessEntity.Properties.Settings.VTS_DevelopmentConnectionString4"
            connectionString="Data Source=192.168.100.1\development;Initial Catalog=VTS_Development;Persist Security Info=True;User ID=JP;Password=password.1"
            providerName="System.Data.SqlClient" />
        <add name="Reskrimsus.BusinessEntity.Properties.Settings.VTS_DevelopmentConnectionString5"
            connectionString="Data Source=27.111.36.30\sqlexpress;Initial Catalog=VTS_Development;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Reskrimsus.BusinessEntity.Properties.Settings.POLRI_DEVConnectionString"
            connectionString="Data Source=192.168.100.1\development;Initial Catalog=POLRI_DEV;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Reskrimsus.BusinessEntity.Properties.Settings.VTS_DevelopmentConnectionString6"
            connectionString="Data Source=27.111.36.30\SQLEXPRESS;Initial Catalog=VTS_Development;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Reskrimsus.BusinessEntity.Properties.Settings.VTS_DevelopmentConnectionString7"
            connectionString="Data Source=27.111.36.30\SQLEXPRESS;Initial Catalog=VTS_Development;Persist Security Info=True;User ID=sa;Password=web@ccess.1"
            providerName="System.Data.SqlClient" />
        <add name="Reskrimsus.BusinessEntity.Properties.Settings.VTS_DevelopmentConnectionString8"
            connectionString="Data Source=103.69.64.18\production;Initial Catalog=VTS_Development;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Reskrimsus.BusinessEntity.Properties.Settings.VTS_LocalDevConnectionString"
            connectionString="Data Source=43.229.207.48\production;Initial Catalog=VTS_LocalDev;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Reskrimsus.BusinessEntity.Properties.Settings.VTS_LocalDevConnectionString1"
            connectionString="Data Source=43.229.207.48\production;Initial Catalog=VTS_LocalDev;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Reskrimsus.BusinessEntity.Properties.Settings.VTS_DevelopmentConnectionString9"
            connectionString="Data Source=43.229.207.48\production;Initial Catalog=VTS_Development;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Reskrimsus.BusinessEntity.Properties.Settings.VTS_DevelopmentConnectionString10"
            connectionString="Data Source=43.229.207.48\PRODUCTION;Initial Catalog=VTS_Development;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Reskrimsus.BusinessEntity.Properties.Settings.VTS_DevelopmentConnectionString11"
            connectionString="Data Source=43.229.207.48\PRODUCTION;Initial Catalog=VTS_Development;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Reskrimsus.BusinessEntity.Properties.Settings.VTS_DevelopmentConnectionString12"
            connectionString="Data Source=43.229.207.48\production;Initial Catalog=VTS_Development;Persist Security Info=True;User ID=sa;Password=web@ccess.1"
            providerName="System.Data.SqlClient" />
        <add name="Reskrimsus.BusinessEntity.Properties.Settings.VTS_DevelopmentConnectionString13"
            connectionString="Data Source=192.168.100.1\DEVELOPMENT;Initial Catalog=VTS_Development;User ID=sa;Password=web@ccess.1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>